<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <p>All Images &copy; 2018 Hannah Nielsen of <a href="https://hannaheliza-illustrations.weebly.com/">Hannah Eliza Illustrations</a>. Find her on <a href="http://instagram.com/hanielsendoodles/">Instagram</a></p>
        </div>
        <div class="row">
            <p>&copy; Catherine Flores All Rights Reserved.</p>
        </div>
    </div>
</footer>