<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <a href="/"><img src="/images/hannah.png"></a>
        </div>
        <div class="col-sm-6 ">
                <a href="/"><h1>Hannah's Doodles</h1></a>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/render-login">Login</a>
                    </li>
                    <li>
                        <a href="/render-register">Register</a>
                    </li>
                    <li>
                        <a href="/render-cart">Cart</a> 
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>