<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <nav>
        <a href="/render-login">Login</a>
        <a href="/render-register">Register</a>
        <a href="/render-cart">Cart</a>        
    </nav>
  

<h1>This will be the cart.</h1>

    <h2></h2>
</body>
</html>
