<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <title>Login Screen</title>
</head>

<body>
<header class="container">
    <% include ../partials/header.ejs , {is_loggedin: is_loggedin} %>
</header>
<main>
    <div class="container">
        <h1>Transaction was completed successfully!</h1>
    </div>
</main>
<% include ../partials/footer.ejs %>
</body>
</html>
