<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
    <title>Login Screen</title>
</head>

<body>
<header>
    <% include ../partials/header.ejs , {is_loggedin: is_loggedin} %>
</header>
<div class="container">
    <h1>Transaction was completed successfully!</h1>
</div>
</body>
</html>
